header {
	width: 100vw;
	height: 320px;
	position: relative;
	overflow: hidden;
	background: url('/images/background.webp'), radial-gradient(circle at center, $cyan, $blue);
    box-shadow: rgb(0 0 0 / 20%) 4px 0 3px;

	.logo {
		width: 244px;
		height: 180px;
		background-image: url('/images/logo.png');
		position: relative;
        margin-top: 60px;
        margin-left: 100px;

        &::before {
            content: '';
            position: absolute;
            width: 402px;
            height: 402px;
            top: 50%;
            left: 50%;
            animation: umbrellaRotation 10s linear infinite;
            background-image: url('/images/umbrella.webp');
        }
	}

    &::before {
        content: '';
        position: absolute;
        width: 551px;
        height: 312px;
        left: 60%;
        transform: translateX(-60%);
        background-image: url('/images/tubes.png');
        bottom: 0;
        image-rendering: pixelated;
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100vw;
        height: 314px;
        top: 60%;
        animation: cloudsAnimation 60s linear infinite;
        background-image: url('/images/clouds.png');
        background-repeat: repeat-x;
        opacity: .4;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}
