.menu {
	width: 100vw;
	height: 70px;
	background-color: $strongblue;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	position: relative;

	ul.principal-list {
		display: flex;
		justify-content: center;

		li.item-menu {
			width: 185px;
			height: 70px;
			list-style: none;
			display: flex;
			position: relative;
			transition: box-shadow .4s;
			border-left: 1px solid rgba(255, 255, 255, .2);
			border-right: 1px solid rgba(255, 255, 255, .2);
			cursor: pointer !important;

			&:first-of-type {

				border-left-width: 2px;
				
				.icon-menu {
					background-image: url('/images/menu/inicio.png');
				}
			}

			&:last-of-type {
				border-right-width: 2px;

				.icon-menu {
					background-image: url('/images/menu/radio.png');
				}
			}

			a {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white !important;
				font-weight: 700;
				text-decoration: none;
				font-size: 14px;
			}

			&:hover {
				border: 2px solid rgba(0, 0, 0, 0.1);
				height: 70px;
				background-color: rgba(0, 0, 0, 0.5);

				a.title-menu {
					span, i {
						visibility: hidden;
					}

					.icon-menu {
						transform: translate(-50%, -50%) rotateY(0deg);
					}
				}

				.drop-menu {
					transform: rotateX(0deg);
				}
			}

			a.title-menu {
				.icon-menu {
					width: 40px;
					height: 40px;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotateY(90deg);
					background-position: center;
					background-repeat: no-repeat;
					transition: transform .2s;
					filter: drop-shadow(-2px 0 0 $strongblue) drop-shadow(0 -2px 0 $strongblue) drop-shadow(2px 0 0 $strongblue) drop-shadow(0 2px 0 $strongblue);
				}
			}

			&:nth-child(2) {
				.icon-menu {
					background-image: url('/images/menu/habboacademy.png');
				}
			}

			&:nth-child(3) {
				.icon-menu {
					background-image: url('/images/menu/habbo.png');
				}
			}

			&:nth-child(4) {
				.icon-menu {
					background-image: url('/images/menu/conteudos.png');
				}
			}

			&:nth-child(5) {
				.icon-menu {
					background-image: url('/images/menu/facenter.png');
				}
			}

			.drop-menu {
				position: absolute;
				width: 215px;
				top: 68px;
				left: -15px;
				background-color: white;
				min-height: 40px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				transform: rotateX(90deg);
				transform-origin: top;
				transition: transform .2s linear;
				box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
				z-index: 5;

				ul {
					width: 100%;
					display: block;

					li {
						width: 100%;
						height: 40px;
						display: flex;

						&:not(:last-of-type) {
							border-bottom: 1px solid #eee;
						}

						a {
							color: #444 !important;
							flex: 1;
							justify-content: flex-start;
							padding-left: 10px;
							font-weight: 400;
							transition: all .3s;

							&:hover {
								background-color: $strongblue;
								color: white !important;
								font-weight: 600;
								padding-left: 20px;
							}
						}

						&:last-of-type {
							a {
								border-bottom-left-radius: 4px;
								border-bottom-right-radius: 4px;
							}
						}
					}
				}
			}
		}
	}
}