section {
	width: 100%;
	min-height: 400px;
	position: relative;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;

	.content-title {
		width: 100%;
		height: 70px;
		position: relative;

		.icon {
			width: 60px;
			height: 60px;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0 1px 0 2px rgba(0, 0, 0, .05);
			background-position: center;
			background-repeat: no-repeat;
			float: left;
		}

		.data {
			width: 50%;
			height: 60px;
			position: relative;
			float: left;
			margin-left: 20px;
			margin-top: 5px;

			.principal {
				width: 100%;
				float: left;
				font-size: 20px;
				font-weight: 700;
				color: $strongblue;
			}

			.description {
				width: 100%;
				float: left;
				font-size: 20px;
				font-weight: 700;
				color: $strongblue;
				font-size: 14px;
				font-weight: 400;
				color: #222;
			}
		}

		.action-buttons {
			width: calc(50% - 80px);
			float: right;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.pagination {
				width: 160px;
			}

			.search {
				padding: 1px;
				overflow: hidden;

				input {
					transition: transform .4s ease-in-out;
					transform: rotateY(90deg);
					transform-origin: right;
				}

				input.opened {
					transform: rotateY(0deg);
				}
			}
		}
	}

	.slider-news {
		width: 100%;
		margin: auto;
		height: 170px;
		margin-top: 10px;
	}
}

.slider-news {
	.swiper-container {
		width: 100%;
		height: 100%;
		padding: 5px 0;
	}

	.swiper-slide {
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 1px 0 2px rgba(0, 0, 0, .02);
		background-position: center;
		background-repeat: no-repeat;

		.swiper-mirror {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .5);
			border-radius: 4px;

			a {
				text-decoration: none;
			}

			.title {
				width: 100%;
				color: #f1f1f1;
				font-weight: 600;
				padding: 20px;
				max-height: 95px;
				overflow: hidden;
			}

			.data {
				width: 100%;
				height: 30px;
				padding: 0 20px;
				margin-top: 10px;

				.avatar {
					width: 30px;
					height: 30px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: white;
					border-radius: 50%;
					margin-right: 10px;
					float: left;
				}

				a {
					font-size: 13px;
					color: #ddd;
					font-weight: 500;
					color: #eee;
				}

				span {
					font-size: 13px;
					color: #ddd;
					font-weight: 500;
				}
			}
		}
	}
}
.section-news {
	.box-content {
		width: 100%;
		height: 480px;
		float: left;
		overflow: hidden;
		margin-top: 20px;

		.box-new {
			width: 255px;
			height: 224px;
			background-color: white;
			float: left;
			margin-right: 30px;
			margin-top: 30px;
			border-radius: 5px;
			box-shadow: 0 1px 0 2px rgba(0, 0, 0, .02);
			border: 1px solid #ccc;

			a {
				text-decoration: none;
			}

			.footer {
				width: 100%;
				height: 30px;
				display: flex;
				justify-content: space-between;
				padding: 0 10px;
				align-items: center;
				margin-top: 3px;

				.author {
					width: 50%;
					height: 30px;
					position: relative;
					display: flex;
					justify-content: flex-end;
					align-items: center;

					.avatar {
						width: 30px;
						height: 30px;
						background-position: center;
						background-repeat: no-repeat;
						background-color: white;
						border-radius: 50%;
						margin-right: 10px;
						float: left;
						background-position: -1px -4px;
						background-color: #ddd;
						border: 1px solid #ccc;
					}

					a {
						max-width: calc(100% - 30px);
						font-size: 13px;
						color: #222;
						text-decoration: none;
					}
				}

				.category {
					padding: 4px 10px;
					background-color: $strongblue;
					font-size: 12px;
					color: #f1f1f1;
					border-radius: 5px;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .09);
					transition: background-color, color .3s;
					max-width: 50%;
				}
			}

			&:first-of-type {
				margin-top: 0;
			}

			&:nth-child(2) {
				margin-top: 0;
			}

			&:nth-child(3) {
				margin-top: 0;
			}

			&:nth-child(4) {
				margin-top: 0;
				margin-right: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			.data {
				width: 100%;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				background-color: #eee;
				height: 40px;
				border-bottom: 1px solid #ccc;

				.statistics {
					width: 40%;
					height: 40px;
					float: left;
					text-align: left;
					padding: 10px;
					font-size: 12px;
					color: #222;

					i {
						color: #bbb;
						font-size: 11px;
						transition: color .3s;
					}
				}
			}

			&:hover {
				.data {
					.statistics {
						&:first-of-type {
							i {
								&:first-of-type {
									color: $darkblue;
								}

								&:nth-child(2) {
									color: $danger;
								}
							}
						}
					}
				}
			}

			.image {
				width: 100%;
				height: 100px;
				background-position: center;
				background-repeat: no-repeat;
			}

			.title {
				width: 100%;
				position: relative;
				line-height: 18px;
				padding: 0 10px;
				margin-top: 5px;
				max-height: 36px;
				overflow: hidden;

				a {
					color: #222;
				}

				&:hover {
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.section-forum {
	.box-topics {
		width: calc(100% - 280px);
		height: 430px;
		float: left;
		margin-top: 10px;
		margin-left: 20px;
        
		.topics {
			width: 100%;
			height: 380px;
			background-color: white;
			float: left;
			border-radius: 5px;
			box-shadow: 0 1px 0 2px rgba(0, 0, 0, .02);
			padding: 10px;
            
			.topic {
				.avatar {
					width: 30px;
					height: 30px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: white;
					border-radius: 50%;
					margin-right: 10px;
					float: left;
					margin-top: 5px;
					background-color: #ddd;
				}

				width: calc(50% - 10px);
				height: 80px;
				float: left;
				margin: 5px;
				border-radius: 5px;
				border: 1px solid #eee;

				.background-user {
					width: 60px;
					height: 60px;
					margin: 10px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 5px;
					float: left;
					display: flex;
					justify-content: center;
					align-items: center;

					.comments {
						min-width: 20px;
						height: 20px;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: white;
						border-radius: 5px;
						padding: 5px;
						font-size: 12px;
						font-weight: 600;

						.chat-icon {
							width: 13px;
							height: 12px;
							float: left;
							background-image: url('/images/mini-icons/chat.png');
							background-position: center;
							background-repeat: no-repeat;
						}
					}
				}

				.title {
					width: calc(100% - 80px);
					height: 20px;
					margin-top: 13px;
					font-size: 14px;
					font-weight: 600;
					color: #222;
					float: left;
					padding-right: 10px;
                    
					&:hover {
						text-decoration: underline;
					}
				}

				.data {
					font-size: 12px;
					color: #222;
					font-weight: 600;
					width: calc(100% - 135px);
					height: 20px;
					margin-top: 10px;
					float: left;
					font-weight: 400;
					font-size: 11px;

					a {
						font-size: 12px;
						color: #222;
						font-weight: 600;
					}
				}
			}
		}

		.pagination {
			width: 100%;
			margin-top: 10px;
			float: left;
			justify-content: space-between;

			.btn-pagination {
				width: auto;
				flex: 1;
				border-radius: 5px;
				color: #222 !important;
				margin: 0;
				height: 40px;
				font-size: 14px;
				height: 31px;
				box-shadow: none;
				border: 1px solid #ddd;

				&:first-of-type {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:nth-child(2) {
					border-radius: 0;
				}

				&:last-of-type {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}

				&:not([disabled]) {
					&:hover {
						box-shadow: none;
						background-color: $strongblue;
						color: white !important;
					}
				}
			}
		}
	}

	.box-ranking {
		width: 250px;
		height: 440px;
		float: left;
		position: relative;
		margin-top: 10px;

		.ranking {
			width: 100%;
			height: 380px;
			background-color: white;
			float: left;
			border-radius: 5px;
			box-shadow: 0 1px 0 2px rgba(0, 0, 0, .02);

			.title {
				width: 100%;
				height: 40px;
				background-color: #eee;
				border-bottom: 1px solid #ddd;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 13px;
				font-weight: 500;
				color: #222;

				.icon {
					width: 20px;
					height: 20px;
					background-color: #ddd;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 50%;
					margin: 10px;
					float: left;
					background-image: url('/images/mini-icons/chat.png');
				}
			}
			.users {
				width: 100%;
				height: 340px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				padding: 5px;

				.user {
					width: 100%;
					height: 62px;
					margin-top: 5px;
					border-bottom: 1px solid #eee;

					.avatar {
						width: 54px;
						height: 54px;
						background-position: center;
						background-repeat: no-repeat;
						border-radius: 5px;
						float: left;
						margin: 0 5px;
						background-color: $strongblue;
						border: 1px solid #444;
						box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
					}

					&:first-of-type {
						.avatar {
							background-color: rgba(241, 196, 15,1.0);
							border-color: #888;
						}

						.placing {
							background-color: rgba(241, 196, 15,1.0);
							border-color: #888;
						}
					}

					&:nth-child(2) {
						.avatar {
							background-color: #ccc;
							border-color: #888;
						}

						.placing {
							background-color: #ccc;
							border-color: #888;
						}
					}

					&:nth-child(3) {
						.avatar {
							background-color: #726052;
						}

						.placing {
							background-color: #726052;
						}
					}

					.name {
						width: calc(100% - 90px);
						float: right;
						margin-top: 5px;
						font-size: 13px;
						color: #222;
						font-weight: 500;
					}

					.placing {
						width: 20px;
						height: 20px;
						border-radius: 5px;
						font-size: 12px;
						background-color: $strongblue;
						float: left;
						color: white;
						display: flex;
						justify-content: center;
						border: 1px solid #444;
						align-items: center;
						box-shadow: inset 0 0 3px 2px rgba(255, 255, 255, .2);
						margin-top: 5px;
					}

					.comments {
						width: calc(100% - 70px);
						height: 20px;
						position: relative;
						margin-top: 5px;
						float: left;
						font-size: 12px;
						font-weight: 500;

						.icon {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							background-color: #eee;
							background-repeat: no-repeat;
							background-position: center;
							float: left;
							margin-right: 5px;
						}
					}
				}
			}
		}

		.pagination {
			width: 100%;
			margin-top: 10px;
			float: left;
			justify-content: space-between;

			.btn-pagination {
				width: auto;
				flex: 1;
				border-radius: 5px;
				color: #222 !important;
				margin: 0;
				height: 40px;
				font-size: 14px;

				&:not(:first-of-type) {
					margin-left: 1px;
				}

				&:first-of-type {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:nth-child(2) {
					border-radius: 0;
				}

				&:last-of-type {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}

				&:not([disabled]) {
					&:hover {
						box-shadow: none;
						background-color: $strongblue;
						color: white !important;
					}
				}
			}
		}
	}
}

.background-forum {
	width: 100vw;
	height: auto;
	position: relative;
	background: url('/images/backgrounds/forum.webp'), $purple;
	float: left;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, $purple 70%, transparent);
	}
}

section.section-forum {
	height: 550px;
}

.background-yt {
	width: 100vw;
	height: auto;
	position: relative;
	background: linear-gradient(to top, #777, #333);
	float: left;
	margin-top: -20px;
}
