.slider {
	width: 49%;
	height: 270px;
	border-radius: 5px;
	float: left;

	.swiper-container {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.swiper-pagination {
		bottom: 30px;

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			border-radius: 0;
			transition: border-radius .3s;
		}

		.swiper-pagination-bullet-active {
			background-color: #444;
			border-radius: 100%;
		}
	}

	.swiper-slide {
		border: 5px solid white;
		border-radius: 5px;
		height: 80%;
		position: relative;

		.swiper-image {
			width: 100%;
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
		}

		.swiper-data {
			width: calc(100% - 20px);
			height: 50px;
			position: absolute;
			bottom: 10px;
			box-shadow: 0 0 0 2px rgba(0, 0, 0, .08), inset 0 0 0 2px rgba(0, 0, 0, 0.08);
			background-color: white;
			padding: 0 10px;
			left: 10px;

			.title {
				width: 100%;
				float: left;
				text-align: left;
				margin-top: 2px;
				font-weight: 700;
				color: #444;
			}

			.description {
				width: 100%;
				float: left;
				text-align: left;
				font-weight: 400;
				font-size: 13px;
				color: #777;
			}
		}
	}
}

.last-contents {
	width: 49%;
	height: 300px;
	border-radius: 5px;
	float: left;
	height: 120px;
	float: right;

	.top-bar {
		width: 100%;
		height: 45px;
		position: relative;

		.action-buttons {
			width: calc(100% - 120px);
			height: 40px;
			float: right;
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

    .box-content {
        width: 100%;
        height: calc(120px - 45px);
        display: flex;
        align-items: center;

        .content {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, .05), inset 0 0 0 2px rgba(0, 0, 0, .08);
			border: 1px solid #bbb;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 12px;
			transition: margin-top .2s ease-in-out;

            &:last-of-type { margin-right: 0; }

			&:hover {
				margin-top: -10px;
			}
        }
    }
}
