// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// HabboAcademy Variables
$background: #eee;
$darkblue: #4a69bd;
$primaryColor: #555;
$secondColor: #333;
$interblue: #7f8fa6;
$primary: #0abde3;
$success: #2ed573;
$purple: #7158e2;
$tooltip: #18191C;

$theme5: #eb3b5a;

$menuWidth: 130px;
$menuHeight: 65px;
