.register-container {
    width: 100vw;
    height: 100vh;
    background: url('/images/register-images/palooza14_background_left.png') bottom left no-repeat, 
                url('/images/register-images/palooza14_background_right.png') bottom right no-repeat, 
                #19a8d1 linear-gradient(#19a8d1, #99d3f1) bottom;
    overflow: hidden auto;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5% 0;
        height: 100vh;

        .separator-arrow {
            display: flex;
            justify-content: center;
            width: 100%;
            opacity: .6;
            color: white;
        }

        .default-box {
            width: auto;
            padding: 15px;
            background-color: white;
            border: 1px solid #ddd;
            box-shadow: inset 0 0 0 3px rgba(0, 0, 0, .04), 0 0 0 2px rgba(0, 0, 0, 0.08);
            margin-top: 20px;
            border-radius: 5px;
            position: relative;

            label {
                color: $primary;
                font-weight: 600;
            }

            i:not(.fas) {
                position: absolute;
                left: 30px;
                top: 32px;
            }

            input {
                height: 45px;
                outline: none;
                box-shadow: none;
                color: #444;
                font-weight: 500;
                border: 1px solid #ddd;
                font-size: 14px;
                padding-left: 40px;

                &.is-invalid {
                    border: 2px solid $theme5;
                }

                &:not(.is-invalid):focus {
                    border: 2px solid $primary;
                }
            }

            &.full {
                width: 400px;
            }

            button {
                width: 100%;
                height: 40px;
                border: none;
                box-shadow: inset 0 0 0 3px rgba(0, 0, 0, .04), 0 2px 0 rgba(0, 0, 0, 0.08);
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $light;

                &.join {
                    background: linear-gradient($success, $theme3);
                }
            }
        }
    }
}