.box-content.box-postar {
	width: 100%;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	float: left;
	margin-bottom: 40px;

	.titulo {
		width: calc(100% + 2px);
		height: 68px;
		background: $darkblue;
		border: 1px solid #c3c5c5;
		box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .2);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 12px 14px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		margin: -1px;

		&.red {
			background: $theme5;
		}

		&.yellow {
			background: $theme1;
		}
		
		&.purple {
			background: $purple;
		}

		span {
			font-weight: 700;
			font-size: 15px;
			color: white;
		}
	}

	.content {
		width: 100%;
		float: left;
		position: relative;
		padding: 10px;
		min-height: 540px;
		max-height: 630px;
		
		form {
			input {
				height: 50px;
				border: 1px solid #ddd;
				background-color: #f5f5f5;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
				font-size: 13px;
				border-radius: 5px;
				color: #777;

				&:focus {
					box-shadow: none;
					border: 1px solid $strongblue;
				}
			}

			select {
				height: 50px;
				border: 1px solid #ddd;
				background-color: #f5f5f5;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
				font-size: 13px;
				border-radius: 5px;
				color: #777;
				&:focus {
					box-shadow: none;
					border: 1px solid $strongblue;
				}
			}

			textarea {
				height: 50px;
				border: 1px solid #ddd;
				background-color: #f5f5f5;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
				font-size: 13px;
				border-radius: 5px;
				color: #777;
				min-height: 200px;
				max-height: 250px;
				background-color: #fafafa;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				padding: 15px;

				&:focus {
					box-shadow: none;
					border: 1px solid $strongblue;
				}
			}

			.form-group {
				.categorias {
					height: 50px;
					border: 1px solid #ddd;
					background-color: #f5f5f5;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
					font-size: 13px;
					border-radius: 5px;
					color: #777;
					width: 100%;
					height: 50px;
					float: left;
					display: flex;
					padding-left: 12px;
					justify-content: flex-start;
					align-items: center;
					position: relative;
					cursor: default;
					z-index: 2;

					span {
						width: 100%;
						float: left;
					}

					span.selected {
						font-weight: 600;
					}

					ul {
						width: calc(100% + 3px);
						left: -1px;
						float: left;
						max-height: 200px;
						position: absolute;
						top: 48px;
						transform: skewX(10deg);
						transition: transform .3s;
						background-color: white;
						border: 1px solid #ddd;
						overflow-y: auto;
						border-bottom-right-radius: 5px;
						border-bottom-left-radius: 5px;
						visibility: hidden;

						li {
							width: 100%;
							float: left;
							height: 40px;
							display: flex;
							justify-content: flex-start;
							align-items: center;
							padding-left: 20px;
							transition: all .1s;

							&:not(:last-of-type) {
								border-bottom: 1px solid #ddd;
							}

							&:hover {
								padding-left: 30px;
								color: $darkblue;
								transition: all .4s;
								cursor: pointer;
								font-weight: 600;
							}

							&:last-of-type {
								border-bottom-right-radius: 5px;
								border-bottom-left-radius: 5px;
							}
						}
					}

					&:hover {
						>ul {
							visibility: visible;
							transition: transform .1s;
							transform: skewY(0deg);
						}
					}
				}
				float: left;
				width: 100%;
			}

			.preview {
				width: 100%;
				height: 50px;
				margin-bottom: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .3);
				background-color: $darkblue;
				font-size: 12px;
				font-weight: 700;
				color: white;
				border: 1px solid rgb(101, 144, 224);
				border-radius: 5px;
				transition: all .2s;

				&:hover {
					background-color: $strongblue;
					transition: all .2s;
				}
			}

			button[type="submit"] {
				width: 100%;
				height: 50px;
				margin-bottom: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .3);
				background-color: $darkblue;
				font-size: 12px;
				border: none;
				font-weight: 700;
				color: white;
				border-radius: 5px;
				transition: all .2s;

				&:not(.red):not(.yellow):not(.purple):hover {
					background-color: $strongblue;
					transition: all .2s;
				}

				&.red {
					background: $theme5;
				}
		
				&.yellow {
					background: $theme1;
				}
				
				&.purple {
					background: $purple;
				}
			}
		}
	}

	button[favoriteBadge] {
		width: 100%;
		height: 50px;
		margin-bottom: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .3);
		background-color: $darkblue;
		font-size: 12px;
		font-weight: 700;
		color: white;
		border: 1px solid rgb(101, 144, 224);
		border-radius: 5px;
		transition: all .2s;
		background-color: $theme5;
		border: 1px solid $theme2;
		float: left;
		margin-top: 10px;
	}
}

.bbcode {
	width: 100%;
	height: auto;
	padding: 8px 10px;
	float: left;
	background-color: rgb(150, 183, 243);
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
	border: 1px solid rgb(80, 122, 199);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	button[type=button] {
		&:not(.emoji) {
			width: auto;
			height: 35px;
			min-width: 35px;
			padding: 0 10px;
			margin: 0 5px 0;
			background-color: $darkblue;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
			border: 1px solid rgb(80, 122, 199);
			border-radius: 5px;
			font-size: 12px;
			font-weight: 700;
			color: white;
			float: left;
			transition: all .3s;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			background-color: rgb(80, 122, 199);
			cursor: pointer;
			transition: all .3s;
		}
	}

	.moreButtons {
		width: 100%;
		height: auto;
		display: none;
		float: left;
		margin-top: 10px;

		button.emoji {
			background-color: white;
			width: 40px;
			height: 40px;
			border: 1px solid rgb(101, 144, 224);
			margin-right: 2.5px;
			transition: all .3s;
			border-radius: 50%;

			&:hover {
				filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.5));
			}
		}
	}

	.moreButtons.cor {
		button {
			background-color: white;
			width: 40px;
			height: 40px;
			border: 1px solid rgb(101, 144, 224);
			margin-right: 2.5px;
			transition: all .3s;
			border-radius: 50%;
			padding: 5px;
			border-radius: 50%;

			&:hover {
				filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.5));
			}

			span {
				width: 28px;
				height: 28px;
				box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
				border: 1px solid rgba(0, 0, 0, 0.5);
				border-radius: 50%;
				float: left;
			}

			&:nth-child(1) {
				span {
					background-color: #607d8b;
				}
			}

			&:nth-child(2) {
				span {
					background-color: #3aa8ce;
				}
			}

			&:nth-child(3) {
				span {
					background-color: #80d500;
				}
			}

			&:nth-child(4) {
				span {
					background-color: #ffbc00;
				}
			}

			&:nth-child(5) {
				span {
					background-color: #D96D00;
				}
			}

			&:nth-child(6) {
				span {
					background-color: #f82a2a;
				}
			}

			&:nth-child(7) {
				span {
					background-color: #145b73;
				}
			}

			&:nth-child(8) {
				span {
					background-color: #ff008d;
				}
			}

			&:nth-child(9) {
				span {
					background-color: #00aeae;
				}
			}

			&:nth-child(10) {
				span {
					background-color: #A300D9;
				}
			}
		}
	}
}
