.topic-owner {
	width: 100%;
	height: 270px;
	float: left;
	position: relative;
	background: linear-gradient(to left, $purple, $darkblue, $purple);
	border-top: 5px solid rgba(255, 255, 255, .3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.6);
	z-index: 7;

	.box-owner {
		width: calc(100% - 40px);
		margin-left: 20px;
		position: relative;
		height: 180px;
		margin-top: 20px;
		background-color: #f8f8f8;
		border: 1px solid rgba(0, 0, 0, 1);
		border-radius: 7px;
		box-shadow: 0 0 0 5px rgba(255, 255, 255, .1);

		.user-image {
			width: 196px;
			height: 178px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			float: left;
			position: relative;
			background-color: $red;
			border-right: 1px solid rgba(0, 0, 0, 1);
			background-position: center;
			background-repeat: no-repeat;
			box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.2);
			background-size: cover;

			.fixed-topic {
				width: 120px;
				height: 30px;
				position: absolute;
				background-color: $theme2;
				border-radius: 5px;
				box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .2);
				display: flex;
				justify-content: center;
				align-items: center;
				top: -15px;
				right: -90px;
				color: white;
				font-weight: 500;
				font-size: 12px;
				z-index: 2;
			}

			.tarja {
				width: 100%;
				height: 45px;
				float: left;
				position: absolute;
				background: transparent;
				background-repeat: no-repeat;
				display: flex;
				justify-content: center;
				align-items: center;
				bottom: 0;
				color: white;
				font-weight: 700;
				font-size: 12px;
			}

			.stage-user {
				margin-top: 110px;
				margin-left: 8px;
			}

			.avatar.normal {
				position: absolute;
				bottom: 42px;
				left: 10px;
				transition: bottom .3s;

				&:hover {
					bottom: 52px;
					transition: bottom .3s;
				}
			}
		}

		.nome-topico {
			width: calc(100% - 220px);
			margin-left: 10px;
			height: 45px;
			position: relative;
			float: left;
			background-color: $dark;
			border: 1px solid $dark;
			margin-top: 10px;
			border-radius: 5px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			box-shadow: inset 0 0 0 1.5px rgba(255, 255, 255, 0.2);

			i {
				width: 45px;
				height: 45px;
				background-repeat: no-repeat;
				background-position: center;
				border-right: 1px solid rgba(255, 255, 255, .2);
			}

			span {
				width: calc(100% - 65px);
				margin-left: 10px;
				float: left;
				font-size: 14px;
				font-weight: 600;
				color: white;
			}
		}

		.emblemas-owner {
			width: calc(100% - 220px);
			margin-left: 10px;
			height: 105px;
			position: relative;
			float: left;
			background-color: $secondary;
			border: 1px solid rgba(0, 0, 0, 0.5);
			margin-top: 10px;
			border-radius: 5px;

			span {
				width: 100%;
				height: 40px;
				float: left;
				background-color: $cyan;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .3);
				display: flex;
				justify-content: flex-start;
				align-items: center;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				font-size: 12px;
				padding-left: 20px;
				border-bottom: 1px solid rgb(0, 0, 1);
				color: white;

				i {
					background-color: $dark;
					height: 25px;
					width: 25px;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 3px;
					margin-right: 10px;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .15);
				}
			}

			.box-emblemas {
				width: 100%;
				height: 63px;
				float: left;
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				.emblema {
					width: 52px;
					height: 50px;
					float: left;
					margin-left: 7px;
					background-color: #f8f8f8;
					border: 1px solid black;
					border-radius: 3px;
					box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
					background-position: center;
					background-repeat: no-repeat;
					transition: background-color .3s;
					&:hover {
						background-color: $pink;
						transition: background-color .3s;
					}
				}
			}

			.paginacao {
				position: absolute;
				top: 7px;
				right: 10px;

				button {
					width: 60px;
					height: 25px;
					border-radius: 5px;
					background-color: $dark;
					border: 1px solid black;
					box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15);
					color: white;
					font-size: 12px;

					&:first-of-type {
						&:hover {
							i {
								animation: fadeInRight 1s linear infinite;
							}
						}
					}

					&:last-of-type {
						&:hover {
							i {
								animation: fadeInLeft 1s linear infinite;
							}
						}
					}
				}

				button[disabled] {
					background-color: $dark !important;
				}
			}
		}
	}
	
	.estatisticas {
		width: calc(100% - 40px);
		margin-left: 20px;
		position: relative;
		height: 40px;
		margin-top: 10px;

		.estatistica {
			min-width: 50px;
			width: 0 auto;
			float: left;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
			font-size: 10px;
			margin-right: 5px;
			background-color: #f8f8f8;
			box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
			height: 100%;
			border: 1px solid rgba(0, 0, 0, 0.6);
			border-radius: 5px;

			&:first-of-type {
				background-color: $success;
				color: white;
				text-shadow: 0 1px 0 black;
				cursor: pointer;
				background-color: $success;
				color: white;
				text-shadow: 0 1px 0 black;

				&:hover {
					filter: brightness(110%);
				}
			}

			&:nth-child(2) {
				background-color: $theme2;
				color: white;
				text-shadow: 0 1px 0 black;
				cursor: pointer;
				
				&:hover {
					filter: brightness(110%);
				}
			}

			&:last-of-type {
				cursor: pointer;
				background-color: $dark;
				display: none;
				margin-top: 30px;
				margin-left: 30px;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .1);
			}

			i.noticias {
				width: 17px;
				height: 18px;
			}
		}
	}
}

.display.topico-comentarios {
	.comentario {
		.area-user {
			.emblemas {
				.paginacao {
					button {
						width: 60px;
						height: 25px;
						border-radius: 5px;
						background-color: $dark;
						border: 1px solid black;
						box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15);
						color: white;
						font-size: 12px;
						background-color: $dark !important;
					}
				}
			}
		}
	}
}

.display.topico-comentarios {
	.comentario {
		.conteudo {
			.assinatura {
				width: calc(100% - 60px);
				max-height: 600px;
				overflow-y: auto;
				overflow-x: hidden;
				margin-top: 40px;
				font-size: 12px;
				margin-left: 20px;
				float: left;
				padding: 10px;
				background-color: #fff;
				min-height: 130px;
				border: 1px solid #ccc;
				border-radius: 10px;
				margin-bottom: 10px;
				margin-top: 20px;

				span.titleAss {
					width: calc(100% + 20px);
					height: 35px;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					background: #f2f2f2;
					border: 1px solid #e7e7e7;
					display: flex;
					align-items: center;
					padding: 0 10px;
					font-size: 11px;
					color: #a7a7a7;
					text-transform: uppercase;
					margin: -10px 0 0 -10px;
					margin-bottom: 10px;
				}

				>img {
					max-width: 100% !important;
				}
			}
		}
	}
}

.area-comentar {
	width: 100%;
	position: relative;
	float: left;
	margin: 20px 0 0 0;
	background-color: #f8f8f8;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	background: url('/images/room_background.webp'), linear-gradient(to bottom, #da9898, #ce7777);
	border-top: 1px solid $theme5;
	border-bottom: 1px solid $theme5;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	min-height: 300px;
	flex-direction: column;
	margin: 20px 0 10px 0;

	.frank {
		width: 100%;
		height: 174px;
		overflow: hidden;
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;

		i.frank-comentarios {
			background-position: top;
			height: 174px;
			margin: 0 20px;
		}

		a {
			position: relative;

			button {
				float: left;
				width: 140px;
				height: 50px;
				background-color: $theme5;
				border-radius: 3px;
				font-size: 14px;
				font-weight: 600;
				color: white;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .3), 0 3px 0 rgba(0, 0, 0, 0.15);
				border: 1px solid $theme2;
				position: relative;
				text-shadow: 0 1px 0 #1e1e1e;
	
				&:hover {
					animation: headShake 1s linear;
				}
			}

			&:first-of-type {
				button::before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7px 0 7px 7px;
					border-color: transparent transparent transparent $theme5;
					position: absolute;
					right: -7px;
					top: calc(50% - 7px);
				}
			}

			&:last-of-type {
				button::before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7px 7px 7px 0;
					border-color: transparent $theme5 transparent transparent;
					position: absolute;
					left: -7px;
					top: calc(50% - 7px);
				}
			}
		}
	}

	span {
		float: left;
		padding: 7.5px 20px;
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 600;
		color: rgb(71, 31, 31);
	}
}

.comentar-neg {
	width: 100%;
	float: left;
	position: relative;
	box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
	background-color: #eee;
	border-top: 1px solid #aaa;
	padding: 20px 0;

	form {
		position: relative;
		float: left;
		width: 100%;

		textarea {
			float: left;
			width: 100%;
			border: 1px solid #aaa;
			resize: none;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			height: 150px;
			padding: 10px;
			font-size: 14px;
			color: #aaa;
		}

		.bbcode {
			position: relative;
			margin-top: -1px;

			.btn {
				float: right;
				position: absolute;
				top: 1px;
				right: 5px;
	
				button {
					width: 200px;
					height: 35px;
					padding: 0 10px;
					margin: 0 5px 0;
					background-color: $theme5;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
					border: 1px solid $red;
					border-radius: 5px;
					font-size: 12px;
					font-weight: 700;
					color: white;
					float: left;
					transition: all .3s;
				}
	
				button[disabled] {
					border: 1px solid #777;
				}
			}
		}
	}

	button.prevComment {
		width: 200px;
		padding: 0 10px;
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
		border-radius: 5px;
		font-size: 12px;
		font-weight: 700;
		color: white;
		float: left;
		transition: all .3s;
		width: 100%;
		margin: 0;
		margin-top: 25px;
		background-color: $secondary;
		border: 1px solid $dark;
		height: 50px;
	}

	button.prevComment[disabled] {
		border: 1px solid #777;
	}
}

.display.topico-ler {
	font-family: 'Exo 2', sans-serif;
	padding: 30px 20px;
	text-align: justify;
	min-height: 300px;
	float: left;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 20px;
	color: #333;
	
	.assinatura {
		width: calc(100% - 60px);
		max-height: 600px;
		overflow-y: auto;
		overflow-x: hidden;
		margin-top: 40px;
		font-size: 12px;
		margin-left: 20px;
		float: left;
		padding: 10px;
		background-color: #fff;
		min-height: 130px;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-bottom: 10px;

		span.titleAss {
			width: calc(100% + 20px);
			height: 35px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background: #f2f2f2;
			border: 1px solid #e7e7e7;
			display: flex;
			align-items: center;
			padding: 0 10px;
			font-size: 11px;
			color: #a7a7a7;
			text-transform: uppercase;
			margin: -10px 0 0 -10px;
			margin-bottom: 10px;
		}

		>img {
			max-width: 100% !important;
		}
	}

	img {
		max-width: 100%;
	}
}

.display.noticia-ler {
	font-family: 'Exo 2', sans-serif;
	padding: 30px 20px;
	text-align: justify;
	min-height: 300px;
	float: left;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 20px;
	color: #333;

	img {
		max-width: 100%;
	}
}

.display.topico-comentarios {
	.comentario {
		background: linear-gradient(to right, #eee 20.6%, rgba(0, 0, 0, 0.01) 0.6%, rgba(251, 251, 251, 1) 21.2%);
		margin: 12px 0 30px 0;
		width: 100%;
		min-height: 500px;
		float: left;
		border-radius: 4px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		color: #535353;
		font-size: 15px;
		position: relative;
		font-weight: 400;

		.conteudo {
			width: calc(100% - 230px);
			padding: 10px;
			font-size: 14px;
			text-align: justify;
			float: left;

			.assinatura {
				width: calc(100% - 60px);
				max-height: 600px;
				overflow-y: auto;
				overflow-x: hidden;
				margin-top: 40px;
				font-size: 12px;
				margin-left: 20px;
				float: left;
				padding: 10px;
				background-color: #fff;
				min-height: 130px;
				border: 1px solid #ccc;
				border-radius: 10px;
				margin-bottom: 10px;
				margin-top: 20px;

				span.titleAss {
					width: calc(100% + 20px);
					height: 35px;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					background: #f2f2f2;
					border: 1px solid #e7e7e7;
					display: flex;
					align-items: center;
					padding: 0 10px;
					font-size: 11px;
					color: #a7a7a7;
					text-transform: uppercase;
					margin: -10px 0 0 -10px;
					margin-bottom: 10px;
				}

				>img {
					max-width: 100% !important;
				}
			}

			img {
				max-width: 100%;
			}
		}

		.titulo {
			background-color: var(--azul-claro);
			height: 72px;
			color: #FFFFFF;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
			padding: 0 12px;
			font-size: 14px;
			border-radius: 4px 4px 0 0;
			box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3), inset 0 -4px rgba(255, 255, 255, 0.14);

			.user {
				background-color: #EEEEEE;
				background-repeat: no-repeat;
				background-position: center;
				width: 54px;
				height: 51px;
				border-radius: 4px;
				float: left;
				margin: 9px 6px;
				box-shadow: inset 0 0 0 2px #FFFFFF;
				-webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
				filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				.cabeca {
					float: left;
					width: 54px;
					height: 62px;
					background-position: center;
					background-repeat: no-repeat;
				}

				&::before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7px 0 7px 7px;
					border-color: transparent transparent transparent #FFFFFF;
					position: absolute;
					right: -7px;
					top: calc(50% - 7px);
				}
			}
		}

		.titulo.azul-claro {
			background-color: var(--azul-claro);
		}

		.area-user {
			width: 230px;
			padding: 15px;
			float: left;
			min-height: 430px;
			border-bottom-left-radius: 3px;
			background-color: #eee;
			border-right: 1px solid rgba(0, 0, 0, 0.2);
			position: relative;
			background-position: center;
			box-shadow: inset 0 2px 0 rgba(255, 255, 255, 1);

			.foto {
				background-color: #FFFFFF;
				width: 198px;
				height: 198px;
				border: 4px solid white;
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
				border-radius: 3px;
				position: relative;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				.user {
					position: relative;
					margin-left: 55px;
					margin-top: 115px;
					height: 30px;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .1), 0 2px 2px rgba(0, 0, 0, 0.3);
					width: 120px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 7px;
					border-radius: 3px;
					font-size: 11px;
					font-weight: 600;
					color: white;
					overflow: visible;

					span {
						max-width: 100%;
						float: left;
					}

					&::before {
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7px 7px 7px 0;
						border-color: transparent $primary transparent transparent;
						position: absolute;
						left: -7px;
						top: calc(50% - 7px);
					}
				}

				.stage-user {
					position: absolute;
					bottom: -20px;
					left: -10px;
					z-index: 5;
				}

				.avatar.normal {
					position: absolute;
					bottom: 0px;
					left: -10px;
					z-index: 6;
				}
			}

			.box-tarja {
				width: 198px;
				height: 67px;
				border-radius: 5px;
				margin-top: 10px;
				position: relative;
				border: 1px solid rgba(0, 0, 0, .1);

				.restantes {
					width: 100%;
					height: 20px;
					background: #f2f2f2;
					box-shadow: inset -2px -2px 0 #fff, inset 2px 2px 0 #fff;
					border-top-right-radius: 6px;
					border-top-left-radius: 6px;
					border-bottom: 1px solid rgba(0, 0, 0, .2);
					padding: 4px;
					display: flex;
					position: relative;
					border-top: none;

					span {
						height: 12px;
						border-radius: 2px;
						background: $primary;
						border: 1px solid $darkblue;
						box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .1), inset -2px -2px 0 rgba(255, 255, 255, .1);
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 9px;
						font-weight: 300;
						color: white;
					}
				}

				.tarja {
					width: 100%;
					height: 45px;
					float: left;
					background: transparent;
					background-repeat: no-repeat;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					position: relative;
					border: none !important;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					font-weight: 700;
					font-size: 12px;
				}
			}
		}

		.topico {
			margin: 0 8px;
			margin-top: 25px;
			margin-bottom: 5px;
			width: 505px;
			font-weight: 500;
			font-size: 12px;
			float: left;
		}

		.acoes {
			max-width: 295px;
			height: 55px;
			margin-top: 7.5px;
			padding: 0 5px;
			float: right;
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			button {
				min-width: 45px;
				height: 45px;
				float: left;
				margin-right: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
			}

			.data {
				min-width: 45px;
				height: 45px;
				float: left;
				margin-right: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
				background-color: rgba(0, 0, 0, 0.4);
				font-size: 10px;
				border: 1px solid rgba(0, 0, 0, 0.5);
				padding: 0 10px;
				color: white;
			}

			.reacao {
				min-width: 45px;
				height: 45px;
				float: left;
				margin-right: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
			}

			div {
				&:last-of-type {
					margin-right: 0;
				}
			}

			.reacao.curtiu {
				background-color: $green;
				border: 2px solid rgba(255, 255, 255, 1);
			}

			.reacao.descurtiu {
				background-color: $theme2;
				border: 2px solid rgba(255, 255, 255, 1);
			}

			button.reportar {
				background-color: $red;
				border: 2px solid rgba(255, 255, 255, 1);

				&:hover {
					filter: brightness(120%);
				}
			}
		}
	}
}

.display.topico-ler.large {
	margin-top: 270px;
}

.area-comentar {
	width: 100%;
	position: relative;
	float: left;
	min-height: 200px;
	margin: 20px 0 0 0;
	background-color: #f8f8f8;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.display.noticia-comentarios {
	.comentario {
		.user {
			.direita {
				.reportar {
					min-width: 45px;
					height: 45px;
					float: left;
					margin-right: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 5px;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
					background-color: $red;
					border: 2px solid rgba(255, 255, 255, 1);

					&:hover {
						filter: brightness(120%);
					}
				}

				.responder {
					min-width: 45px;
					height: 45px;
					float: left;
					margin-right: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 5px;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
					background-color: $red;
					border: 2px solid rgba(255, 255, 255, 1);

					&:hover {
						filter: brightness(120%);
					}
				}
			}
		}
	}
}

.navigation-pages {
	float: left;
	width: 100%;

	ul.pagination {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;

		li {
			margin: 0 2px;

			a {
				font-size: 12px;
				background-color: $theme5;
				color: white;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
			}

			&:hover {
				a {
					color: white;
					background-color: $pink;
					border-color: $theme5;
				}
			}
		}

		li.page-item.setas {
			a {
				background-color: $pink;
				color: white;
				border-color: $theme5;
			}
		}

		li.page-item.setas.disabled {
			a {
				background-color: #bbb !important;
				border: 1px solid #aaa;
			}
		}

		li.active {
			a {
				background-color: $pink;
				border-color: $theme5;
			}
		}
	}
}